
* {
    box-sizing: border-box;
}

html {
    --color--text: white;
}

#myVideo { 
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transition: 1s opacity;
}

.content_block {
    max-width:1600px;
    width: 100%;
    margin: 0;
}
.heading {
    text-align: center;
    font-size: 9px;
    position: fixed;   
    background: rgba(0, 0, 0, 0.5);
    color: var(--color--text);
    width: 100%;
    right: 0;
    z-index: 110;
    top: 10px;
    height: 102px;
}


.heading2 {
    text-align: center;
    font-size: 10px;
    position: fixed;   
    background: rgba(0, 0, 0, 0.5);
    color: var(--color--text);
    width: 100%;
    padding-right: 35px;
    z-index: 110;
    top: 40px;
}

.label {
    font-size: 20px;
    border: var(--color--text) solid 1px;
    border-radius: 5px;
    padding: 7px 10px;
}

#shadow{
    background-color: rgba(1, 1, 1, 0.6);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    display: none;
}

.regbtn {
    background-color: black;
    color: var(--color--text);
    border: var(--color--text) solid 1px;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 10px;
    z-index: 90;
    height:32px;
}

.regbtn:hover {
    background-color: rgba(27, 26, 26, 0.712); 
}

.profbtn {
    background-color: black;
    color: var(--color--text);
    border: var(--color--text) solid 1px;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 10px;
    z-index: 90;
    margin: 0px 10px;
    text-align: center;
}

.profbtn:hover {
    background-color: rgba(27, 26, 26, 0.712); 
}

#regarea {
    width: 270px;
    min-width: 150px;
    position: absolute;
    display: none;
    height: 400px;
    background-color:rgba(27, 26, 26, 0.712);
    border: var(--color--text) solid 1px;
    border-radius: 10px;
    z-index: 150;
    color: var(--color--text);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.input {    
    width: 250px;
    min-width: 150px;
    padding: 5px;
    margin: 2px;
    border: var(--color--text) solid 1px;
    border-radius: 5px;
    background-color:rgba(27, 26, 26);
    color: var(--color--text);
}

.input:hover{
    cursor: auto;
    background-color: black;
}

.subm {    
    width: 250px;
    min-width: 150px;
    padding: 5px;
    margin: 2px;
    border: var(--color--text) solid 1px;
    border-radius: 5px;
    background-color:rgba(27, 26, 26);
    color: var(--color--text);
}

.subm:hover{
    cursor: pointer;
    background-color: black;
}


.msg {
    background-color:rgba(27, 26, 26, 0.712);
    border-radius: 10px;
    z-index: 150;
    color: var(--color--text);
    padding: 5px 5px;
    margin: 12px;
    font-size: 17px;
    width: 50%;
    text-align: center;
    margin-left: 25%;
}

.full_name{
    font-size: 10px;
    position: fixed;   
    background: rgba(0, 0, 0, 0.5);
    color: var(--color--text);
}

.regnow {
    background-color: rgba(27, 26, 26, 0.712);
    color: var(--color--text);
    border: var(--color--text) solid 1px;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 5px;
    z-index: 90;
    text-decoration: none;
}

.regnow:hover {
    background-color: black; 
}

.lognow {
    background-color: rgba(27, 26, 26, 0.712);
    color: var(--color--text);
    border: var(--color--text) solid 1px;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 5px;
    z-index: 90;
    text-decoration: none;  
}

.lognow:hover {
    background-color: black; 
}

.quit {
    background-color: black;
    color: var(--color--text);
    border: var(--color--text) solid 1px;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 5px;
    z-index: 90;
    text-decoration: none;
    font-size: 16px;
    text-align: right;
}

.quit:hover {
    background-color: rgba(27, 26, 26, 0.712);  
}

.main {
    background-color: black;
    color: var(--color--text);
    border: var(--color--text) solid 1px;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 5px;
    z-index: 90;
    text-decoration: none;
    font-size: 16px;
    text-align: right;
}

.main:hover {
    background-color: rgba(27, 26, 26, 0.712);
}

.close{
    margin: 10px 0px 0px 240px;
    cursor: pointer;
    border: var(--color--text) solid 1px;
    border-radius: 3px;
    padding: 2px;
}

.close:hover{   
    background-color: black;
}









